<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Alarm</title>
</head>
<body>
    <h1>アラーム追加</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <p>
            <label for="time">時間</label>
            <input type="time" name="time" required>
        </p>
        <!-- <p>
            <label for="image">写真</label>
            <input type="file" accept="image/*" name="image" required>
        </p> -->
        <p>
            <label for="repeat">繰り返し</label>
            {% for repeat in repeats %}
            <label><input type="checkbox" name="repeat" value="{{ repeat.id }}">{{ repeat.repeat_name }}</label>
            {% endfor %}
        </p>
        <p>
            <label for="sound">サウンド</label>
            <select name="sound">
                {% for sound in sounds %}
                <option value="{{ sound.id }}">{{ sound.sound_name }}</option>
                {% endfor %}
            </select>
        </p>
        <p><input type="submit" name="submit" value="追加"></p>
        <input type="hidden" name="image_path" value="{{ image_path }}">
    </form>
</body>
</html>