<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Alarm</title>
</head>
<body>
    <h1>アラーム編集</h1>
    <form action="/edit_alarm/{{ alarm.id }}" method="POST" enctype="multipart/form-data">
        <!-- <p>{{ repeat_list }}</p>
        <p>{{ alarm.sound_id }}</p> -->
        <p>
            <label for="time">時間</label>
            <input type="time" name="time" value="{{ alarm.time }}" required>
        </p>
        <!-- <p>
            <label for="image">写真</label>
            <input type="file" accept="image/*" name="image" required>
        </p> -->
        <p>
            <label for="repeat">繰り返し</label>
            {% for repeat in repeats %}
            {% if repeat.id in repeat_list %}
            <label><input type="checkbox" name="repeat" value="{{ repeat.id }}" checked>{{ repeat.repeat_name }}</label>
            {% else %}
            <label><input type="checkbox" name="repeat" value="{{ repeat.id }}">{{ repeat.repeat_name }}</label>
            {% endif %}
            {% endfor %}
        </p>
        <p>
            <label for="sound">サウンド</label>
            <select name="sound">
                {% for sound in sounds %}
                {% if sound.id == alarm.sound_id %}
                <option value="{{ sound.id }}" selected>{{ sound.sound_name }}</option>
                {% else %}
                <option value="{{ sound.id }}">{{ sound.sound_name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </p>
        <p><input type="submit" name="submit" value="編集"></p>
    </form>
    <form action="/delete_alarm/{{ alarm.id }}">
        <p><input type="submit" name="submit" value="削除"></p>
    </form>
</body>
</html>