<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Alarm</title>
</head>
<body>
    <h1>アラーム編集</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <p>{{ repeat_list }}</p>
        <p>
            <label for="time">時間</label>
            <input type="time" name="time" value="{{ post.time }}" required>
        </p>
        <p>
            <label for="image">写真</label>
            <input type="file" accept="image/*" name="image" required>
        </p>
        <p>
            <label for="repeat">繰り返し</label>
            {% for repeat in repeats %}
            {% if repeat.id in repeat_list %}
            <label><input type="checkbox" name="repeat" value="{{ repeat.id }}" checked>{{ repeat.repeat_name }}</label>
            {% else %}
            <label><input type="checkbox" name="repeat" value="{{ repeat.id }}">{{ repeat.repeat_name }}</label>
            {% endif %}
            {% endfor %}
        </p>
        <p>
            <label for="sound">サウンド</label>
            <select name="sound">
                <option value="1" selected>サウンド1</option>
                <option value="2">サウンド2</option>
                <option value="3">サウンド3</option>
                <option value="4">サウンド4</option>
                <option value="5">サウンド5</option>
                <option value="6">サウンド6</option>
                <option value="7">サウンド7</option>
            </select>
        </p>
        <p><input type="submit" name="submit" value="追加"></p>
    </form>
</body>
</html>