<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <title>Home</title>
</head>
<body>
    <h1>ホーム</h1>
    {% for alarm in alarms %}
    <h2>{{ alarm.time }}</h2>
    <a href="/edit_alarm/{{ alarm.id }}" role="button"><img src="{{ alarm.image }}"></a>
    <form>
        {% if alarm.flag == True %}
        <label>
            <input type="checkbox" id="{{ alarm.id }}" name="flag" value="True" onchange="change_flag(this.value, this.id)" checked>オン
        </label>
        {% else %}
        <label>
            <input type="checkbox" id="{{ alarm.id }}" name="flag" value="False" onchange="change_flag(this.value, this.id)">オフ
        </label>
        {% endif %}
    </form>
    <p>
        {% if alarm.repeat_id|length == 7 %}
            毎日
        {% else %}
            {% for repeat_id in alarm.repeat_id %}
                {{ week_list[repeat_id] }}
            {% endfor %}
        {% endif %}
    </p>
    {% endfor %}
    <form action="/add_alarm" method="POST" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="image" capture="camera" onchange="this.form.submit()">
    </form>
    <script>
        function change_flag(flag, id) {
            // var flag = document.getElementById("flag")
            console.log(flag);
            console.log(id);
            $.ajax({
                type: "POST",
                url: "/change_flag",
                data: {
                    id : id,
                    flag : flag
                },
                success: function () {
                    location.reload();
                }
            })
        };
    </script>
</body>
</html>