<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>アラーム一覧</h1>
    {% for post in posts %}
    <h2>{{ post.time }}</h2>
    <img src="{{ post.image }}">
    <p>{{ post.repeat_id }}</p>
    <p>{{ post.flag }}</p>
    <a href="edit_alarm/{{ post.id }}" role="button">編集</a>
    <a href="delete_alarm/{{ post.id }}" role="button">削除</a>
    {% endfor %}
    <p><a href="add_alarm" role="button">アラーム追加</a></p>
</body>
</html>