<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>ホーム</h1>
    {% for post in posts %}
    <h2>{{ post.time }}</h2>
    <a href="edit_alarm/{{ post.id }}" role="button"><img src="{{ post.image }}"></a>
    <!-- <p>{{ post.repeat_id }}</p> -->
    <form>
        {% if post.flag == True %}
        <label>
            <input type="checkbox" name="flag" value="True" checked>オン
        </label>
        {% else %}
        <label>
            <input type="checkbox" name="flag" value="False">オフ
        </label>
    {% endif %}
    </form>
    {% endfor %}
    <p><a href="add_alarm" role="button">アラーム追加</a></p>
</body>
</html>